* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    background-color: black;
    color: rgb(225, 225, 225);
}

.Components-container {
    display: flex;
    justify-content: flex-end;
    border: 5px solid rgba(0, 25, 50, 0.75);
    background-color: rgba(0, 25, 50, 0.15);
    margin: 2% 0%;
    border-radius: 10px;
}

.SatList {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-left: 5px solid rgba(0, 25, 50, 0.75);
    background-color: rgba(0, 25, 50, 0.25);
    padding: 1% 2%;
    line-height: 3px;
    width: 31%;
    letter-spacing: 1px;
}

.SatList h2 {
    text-decoration: underline;
}

.SatList-item {
    display: flex;
    justify-content: space-between;
    border: 5px solid rgba(0, 25, 50, 0.25);
    background-color: rgba(75, 75, 75, 0.75);
    margin: 2%;
    padding: 1%;
    border-radius: 5px;
    width: 100%;
    box-shadow: 15px 15px 25px -4px rgba(20, 20, 20, 0.75);
}

/* .SatList-item-key {
    border: 1px solid red;
} */

/* .Divider {
    border: 1px solid green;
} */

.SatList-item-value {
    text-align: end;
    width: 50%;
    font-weight: bold;
    /* border: 1px solid blue; */
}
