/***** OVERALL *****/

* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    background-color: rgb(0, 0, 0);
    color: lightgrey;
    text-align: center;
}

/***** COMPONENTS *****/

.Components-container {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    border-top: 5px double darkslateblue;
    border-left: 5px double darkslateblue;
    border-radius: 10px;
    padding: 1% 0% 0% 1%;
}

.Sat-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    padding: 1% 0% 0% 0%;
}

/***** SEARCHBAR *****/

.SearchBar-container {
    border-top: 5px double darkslategray;
    border-right: 5px double darkslategray;
    border-radius: 10px;
}

.SearchBar-container input {
    width: 30%;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    color: lightgrey;
    line-height: 20px;
}

/***** SATCARD *****/

.SatCard-container {
    text-align: center;
    border-top: 5px double slategrey;
    border-right: 5px double slategrey;
    border-radius: 10px;
    width: 39%;
}

/***** SATLIST *****/

.SatList-container {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: 5px double slategrey;
    border-right: 5px double slategrey;
    border-radius: 10px;
    width: 60%;
}

.SatList-search input {
    width: 50%;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    color: lightgrey;
    line-height: 20px;
}

.SatList-items-container {
    display: flex;
    flex-wrap: wrap;
}

.SatList-item {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(175, 200, 225, .01);
    border-top: 3px double slateblue;
    border-right: 3px double slateblue;
    border-radius: 10px;
    width: 48%;
    margin: 1% 1% 0% 0%;
    padding: 0% 1%;
    line-height: 5px;
}

.SatList-item-key {
    text-align: start;
    width: 20%;
    /* border: 1px solid red; */
}

.SatList-item-value {
    text-align: end;
    width: 80%;
    font-weight: bold;
    /* border: 1px solid blue; */
}
