/***** OVERALL *****/

* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    background-color: rgb(0, 0, 0);
    color: lightgrey;
    text-align: center;
}

a {
    color: lightslategrey;
    text-decoration: none;
}

/***** APP *****/

.App {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    border-top: 5px double darkslateblue;
    border-left: 5px double darkslateblue;
    border-radius: 10px;
    padding: 1% 0% 0% 1%;
    /* border: 1px solid red; */
}

/***** NavBar *****/

.NavBar {
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
    line-height: 40px;
    letter-spacing: 4px;
    font-weight: bold;
    border-top: 3px double darkslategray;
    border-right: 3px double darkslategray;
    border-radius: 10px;
    margin-bottom: 1%;
    /* border: 1px solid green; */
}

.Nav-list {
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Nav-list:hover {
    background-color: rgba(47, 79, 79, .65);
    transition: .3s;
}

.Nav-details {
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Nav-details:hover {
    background-color: rgba(47, 79, 79, .65);
    transition: .3s;
}

/***** SEARCHBAR *****/

.SearchBar-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-top: 3px double darkslategray;
    border-right: 3px double darkslategray;
    border-radius: 10px;
}

/* .SearchBar-title {
    border: 1px solid red;
} */

.SearchBar {
    width: 100%;
    /* border: 1px solid yellow; */
}

.SearchBar-container input {
    width: 30vw;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    color: lightgrey;
    line-height: 20px;
    /* border: 1px solid pink; */
}

.SearchBar-a {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    /* border: 1px solid green; */
}

/* .SearchBar-b {
    border: 1px solid blue;
} */

/***** SATELLITE CONTAINER *****/

.Sat-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    padding: 1% 0% 0% 0%;
    /* border: 1px solid red; */
}

/***** SATLIST *****/

.SatList-container {
    display: flex;
    flex-flow: column;
    border-top: 5px double slategrey;
    border-right: 5px double slategrey;
    border-radius: 10px;
    width: 100%;
}

.SatList-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.SatList-item {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(175, 200, 225, .04);
    border-top: 10px double slateblue;
    border-right: 10px double slateblue;
    border-radius: 10px;
    width: 30%;
    margin: 1% 1% 0% 0%;
    padding: 0% 1%;
    line-height: 5px;
    font-size: large;
}

.SatList-item-key {
    text-align: start;
    width: 20%;
    /* border: 1px solid red; */
}

.SatList-item-value {
    text-align: end;
    width: 80%;
    font-weight: bold;
    /* border: 1px solid blue; */
}

/***** SATCARD *****/

.SatCard-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    border-top: 5px double slategrey;
    border-right: 5px double slategrey;
    border-radius: 10px;
    padding: 0% 1% 0% 0%;
    font-size: larger;
}

.SatCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(175, 200, 225, .04);
    border-top: 10px double slateblue;
    border-right: 10px double slateblue;
    border-radius: 10px;
    width: 75%;
    padding: 4% 10%;
    line-height: 18px;
}

.SatCard-key {
    text-align: start;
    width: 25%;
    /* border: 1px solid red; */
}

.SatCard-key-description {
    text-align: start;
    width: 100%;
    /* border: 1px solid red; */
}

.SatCard-key-learn-more {
    text-align: start;
    width: 100%;
    /* border: 1px solid red; */
}

.SatCard-value {
    text-align: end;
    width: 75%;
    font-weight: bold;
    /* border: 1px solid blue; */
}

.SatCard-value-description {
    text-align: start;
    width: 100%;
    line-height: 24px;
    border-top: 4px double slategrey;
    border-right: 4px double slategrey;
    border-radius: 10px;
    padding: 1% 1% 0% 1%;
}

.SatCard-link-item {
    width: 75%;
    border-top: 3px double slategrey;
    border-right: 3px double slategrey;
    border-radius: 10px;
    line-height: 1px;
    text-overflow: ellipsis;
    /* border: 1px solid blue; */
}

.SatCard-link-item-key {
    text-decoration: underline;
    /* border: 1px solid green; */
}

.SatCard-link-item-value {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 1px solid red; */
}
